@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.founderSection {
    background-color: rgb(21, 21, 21);
    @include flexCenter();
    padding: 30px 20px 0;
}

.founderInfo {
    width: 60%;
    padding: 0 70px;
    p {
        text-align: center;
        color: darkgray;
        line-height: $text-line-height;
    }
}
.founderName {
    color: $header-span;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Lucida Fax";
}
.founderImg {
    width: 40%;
}
.links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 1280px) {
    .founderInfo {
        padding-right: 0;
    }
    .founderImg {
        margin-right: 70px;
    }
}
@media screen and (max-width: 1024px) {
    .founderInfo {
        padding-left: 20px;
    }
    .founderImg {
        margin-right: 70px;
        img {
            width: 300px;
            height: 350px;
        }
    }

}
@media screen and (max-width: 768px) {
    .founderSection {
        align-items: flex-end;
    }
}