.redToBlackBtn {
  color: #fff;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  background-color: #2f2d2d;
  border-radius: 16px;
  padding: 10px 30px;
  cursor: pointer;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #a50826;
    transform: scaleX(1);
    transform-origin: 50%;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  &:hover:before,
  &:active:before {
    transform: scaleX(0);
  }
}