@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';
.infoItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  h1 {
    @include title(24px, $titleColorGray);
    margin-top: 10px;
    text-align: center;
    max-width: 200px;
  }
}
.infoItem__number {
  border: 1px solid $header-span;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  span {
    border: 1px solid #cca6a6;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 85px;
  }
}
@media screen and (max-width: 1024px) {
  .infoItem {
    width: 50%;
    margin-bottom: 20px;
  }
}