.listItem {
    list-style: none;
    width: 100%;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.15s;
    &:hover {
        background-color: #404249;
    }
    &:last-child {
        border-radius: 0 0 5px 5px;
    }
    user-select: none;
}
.title {
    color: #c0bebe;
    font-size: 18px;
}