@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.searchedItemsBlock {
    @include flexCenter();
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}
.searchedItemsBlockInner {
    width: 100%;
}
.list {
    @include space-y(5);
    width: 100%;
}
.isStale {
    background-color: #ff0000;
}
.loadingBlock {
    @include flexCenter();
    width: 100%;
    height: 300px;
}
.notFoundResult {
    @include flexCenter();
    color: #f9f8f8;
    font-size: 35px;
}
