@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.searchedItemsBlock {
    width: 100%;
    @include flexCenter();
}
.list {
    @include space-y(5);
}
.isStale {
    background-color: #ff0000;
}

.notFoundResult {
    color: #f9f8f8;
    font-size: 35px;
}
