@import 'src/app/styles/variables';
@import 'src/app/styles/mixins';

.overlay {
    @include modalOverlay;
}
.content {
    background-color: #161b22;
    color: $color-1;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: fit-content;
    max-height: 85vh;
    padding: 25px 30px;
}
.title {
    margin-bottom: 15px;
    font-size: 24px;
    color: #ffffff;
}
.description {
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 1.2;
    max-width: 500px;
}
.features {
    @include flexCenter;
    @include space-x(10);
    justify-content: space-between;
}
.cancelBtn {
    @include button;
}
.actionBtn {
    @include button;
    color: #c01138;
    font-weight: bold;
    border-color: #a50826;
}
.children {
    @include flexCenter;
    @include space-x(3);
}
.defaultFeatures {
    @include flexCenter;
    @include space-x(3);
}