@import '/src/app/styles/mixins.scss';
@import '/src/app/styles/variables.scss';
.textArea {
    width: 100%;
    border: 2px solid $clr-gray500;
    border-radius: $radius;
    font-family: inherit;
    font-size: inherit;
    color: #111436;
    font-family: Roboto;
    padding: 1.25rem;
    resize: vertical;
    outline: none;
    transition: all 0.2s;
    &::placeholder {
        font-weight: bold;
        font-size: 18px;
        color: #596672;
    }
}