@import 'src/app/styles/variables';
@import 'src/app/styles/mixins';

.week {
    border: 2px solid #45494b;
    border-bottom: 0;
    &:nth-last-child(1) {
        border-bottom: 2px solid #45494b;
    }
}
.weekContent {
    padding: 15px 20px;
}
.weekAccTrigger {
    background-color: #21262d;
}
.header {
    width: 100%;
    background-color: #141b28;
}
.headerWeek {
    border-bottom: 2px solid #45494b;
}
.dayAccTrigger {
    background-color: #141b28
}
.accordionTrigger {
    color: $color-1;
    outline: none;
    border: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.day {
    border: 2px solid #1e2b3d;
    border-bottom: 0;
    &:nth-last-child(1) {
        border-bottom: 2px solid #1e2b3d;
    }
}
.accordionChevron {

}
.weekAccTrigger[data-state='open'] > .accordionChevron {
    transform: rotate(180deg);
}
.dayContent {
    padding: 10px 15px;

}
.exercise {
    display: flex;
    &:nth-last-child(1) {
        margin-bottom: 0px;
    }
    margin-bottom: 30px;
}
.info {
    width: 70%;
}
.technique {
    margin-top: 10px;
    line-height: 1.3;
}
.muscles {
    width: 30%;
    list-style: none;
}
.muscle {
    padding-left: 30px;
    font-size: 16px;
    margin-bottom: 5px;
}
.musclesHeader {
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.closed {
    position: relative;
    &::after {
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        background-color: #0D1117;
        opacity: 0.7;
        z-index: 0;
    }
}