@import 'src/app/styles/variables';
@import 'src/app/styles/mixins';
.header {
    background-color: $clr-gray200;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include space-x(10);
    padding: 30px 15%;
    position: relative;
}
.headerInfo {
    width: 70%;
    color: $titleColorGray;
    position: relative;
}
.title {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: Verdana;
    margin-bottom: 10px;
}
.subtitle {
    font-size: 1.3rem;
}
.infoSocial {
    display: flex;
    font-weight: bold;
    font-family: Tahoma;
    margin: 15px 0 10px;
    p {
        font-family: inherit;
    }
    span:nth-child(2) {
        position: relative;
        top: 1px;
    }
}
.rating {
    color: #4669ea;
    margin-right: 4px;
    font-family: inherit;
}
.students {
    margin-left: 10px;
    margin-right: 2px;
    font-family: inherit;
}
.trainer {
    text-decoration: underline;
    color: #c50ca0;
    transition: all 0.2s;
    &:hover {
        color: #034164;
    }
}
.generalInfo {
    @include flexCenter();
    justify-content: flex-start;
    @include space-x(2);
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .header {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-width: 640px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        @include space-y(7);
        @include space-x(0);
    }
    .headerInfo {
        width: 100%;
    }
}