@import 'src/app/styles/variables';
@import 'src/app/styles/mixins';

.courseInner {
    background-color: $bg-block-1;
    color: $color-1;
    align-items: flex-start;
    justify-content: flex-start;
    @include space-x(10);
    padding: 30px 15%;
    position: relative;
}
.container {
    width: 100%;
}
.title {
    font-weight: bold;
    font-family: Tahoma;
}
.providedItemsList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 15px;
    padding-top: 20px;
    margin-bottom: 30px;
}
.providedItem {
    position: relative;
    width: 33%;
    @include flexCenter();
    justify-content: flex-start;
    margin-bottom: 10px;
    font-size: 17px;
    &::before {
        content: '';
        position: absolute;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        left: -15px;
        background-color: #778085;
    }
}
.description {
    padding-top: 15px;
    line-height: 1.3;
    letter-spacing: 0.6px;
    font-family: Raleway;
}