@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.privateInfo {
    width: 50%;
    @include flexCenterColumn();
    justify-content: flex-start;
}
.privateInfo__inner {
    width: 80%;
}
.privateInfo__contact {
    @include flexCenter();
    justify-content: flex-start;
    margin-bottom: 20px;
    &:nth-child(2) {
        margin-top: 20px;
    }
    img {
        border: 2px solid red;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 5px;
    }
}
.privateInfo__item {
    @include space-y(2);
    @include flexCenterColumn();
    align-items: flex-start;
    margin-left: 15px;
}
.tgBot {
    width: fit-content;
    background-color: #131417;
    border-radius: 12px;
    a {
        @include flexCenter();
        padding: 10px 20px;
        justify-content: flex-start;
        font-size: 18px;
        height: 100%;
        border-radius: 12px;
        font-family: Raleway;
        @include space-x(3);
        font-weight: bolder;
        color: #f9f8f8;
        width: 100%;
        transition: all 0.3s;
        &:hover {
            --tw-shadow: 1px 12px 15px -3px rgb(0 0 0 / 0.1), 1px 14px 6px -4px rgb(0 0 0 / 0.1);
            --tw-shadow-colored: 10px 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-shadow);
            color: #d5d4d4;
        }
    }
}
@media screen and (max-width: 768px) {
    .privateInfo {
        width: 100%;
    }
    .tgBot {
        width: 100%;
        a {
            @include flexCenter;
        }
    }
}