@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.wrapper {
  display: flex;
  min-width: 100%;
  //transition: all 1s;

}
.slideWrapper {
  min-width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.slide {
  min-width: 100%;
  padding-left: 40%;
  h1 {
    font-size: 100px;
    text-transform: uppercase;
    line-height: 1;
  }
  p {
    color: #cacaca;
    font-style: italic;
    margin-bottom: 30px;
  }
  span {
    color: $header-span;
  }
}
.sliderArrows {
  position: absolute;
  bottom: 7rem;
  right: 15rem;
  display: flex;
}

@media screen and (max-width: 1280px) {
  .slide {
    h1 {
      font-size: 80px;
    }
    padding-left: 30%;
    padding-right: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .slide {
    h1 {
      font-size: 60px;
    }
    padding-left: 20%;
    padding-right: 30%;
  }
}
@media screen and (max-width: 768px) {
  .slide {
    h1 {
      font-size: 60px;
    }
    padding-left: 20%;
    padding-right: 20%;
  }
  .sliderArrows {
    right: 5rem;
    bottom: 8rem;
  }
}
@media screen and (max-width: 640px) {
  .slide {
    h1 {
      font-size: 60px;
    }
    padding-left: 30%;
    padding-right: 0%;
  }
  .sliderArrows {
    right: 5rem;
    bottom: 8rem;
  }
}