@import 'src/app/styles/mixins.scss';
@import 'src/app/styles/variables.scss';

.achievementsSection {
  @include flexCenter();
  width: 100%;
}
.achievements {
  @include flexCenterColumn();
  padding: 60px 0;
  width: 100%;
}
.achievementsItems {
  @include flexCenter();
  width: 90%;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .achievementsItems {
    flex-wrap: wrap;
    justify-content: center;
  }
}