@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.calculatorSection {
  padding: 40px 0px;
}
.calculator {
  @include flexCenterColumn();
}

.titleForTable {
  @include flexCenterColumn();
  width: 50%;
  margin-top: 25px;
  margin-bottom: 10px;
  p {
    text-align: center;
    margin: 10px 0px 5px;
    padding: 0rem 5rem;
    font-size: 17px;
    line-height: 1.3;
  }
}
.tableBMI {
  width: 30%;
  border: 2px solid $header-span;
  border-collapse: collapse;
  tbody {
    width: 100%;
  }
  td, th {
    padding: 20px 25px;
    margin: 0 auto;
    text-align: center;
  }
  td {
    font-size: 18px;
  }
  th {
    text-transform: uppercase;
    font-size: 20px;
  }
}
.headerRow {
  width: 100%;
  border-bottom: 2px solid $header-span;
}
@media screen and (max-width: 768px) {
  .titleForTable {
    width: 70%;
    p {
      padding: 0;
    }
  }
}