@import 'src/app/styles/variables';

.categoriesSection {
    background-color: $bg-block-1;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.categoriesBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {

}