@import '/src/app/styles/mixins';
@import '/src/app/styles/variables';


.icons {
  display: flex;
}

.mainIntro {
  background: url("/media/images/main-banner.jpg") no-repeat top center;
  background-size: cover;
  padding-bottom: 2%;
  height: 600px;
  position: relative;
  color: #fff;
  font-family: Verdana;

}
.introItem {
  width: 60%;
}
.introWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
}
@media screen and (max-width: 1280px) {
}
