@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.partnersSection {

}
.partners {
  @include flexCenter();
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 10px;
  img {
    cursor: pointer;
    opacity: 0.5;
    transition: all, 0.3s;
    margin-bottom: 15px;
    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1268px) {
  
}