@import 'src/app/styles/mixins';
@import 'src/app/styles/variables';

.menuBtn {
    border-radius: 50%;
    @include flexCenter();
    border: none;
    outline: none;
    background-color: transparent;
}
.content {
    background-color: #182026;
    color: $color-1;
    padding: 5px 0px 5px;
    border-radius: 7px;
    border: 1px solid #575e6e;
    min-width: 150px;
    font-size: 16px;
    @include flexCenterColumn();
}
.menuItem {
    @include flexCenter();
    width: 100%;
    justify-content: flex-start;
    padding: 6px 10px;
    cursor: pointer;
    &:hover {
        background-color: #1a3644;
    }
    font-family: Roboto;
}
.menuSeparator {
    width: 100%;
    height: 1px;
    background-color: #575e6e;
    margin: 10px 0;
    width: 90%;
}