@import '/src/app/styles/mixins';
@import '/src/app/styles/variables';

.form {
    label {
        font-family: "Microsoft YaHei";
    }
    min-width: 100%;
    position: relative;
}
.formInner {
    width: 100%;
    @include space-y(2);
}
